<div class="details"  >
    <img width="70px" height="70px" (click)="openDialog()" [src]="'https://localhost:5001/upload/' + (image ? image.filename : 'img_avatar.png')" />
</div>
<form class="form" (submit)="onSubmit($event)">
    <div class="field">
        <label for="name">name</label>
        <input type="text" name="name" [(ngModel)]="name" />
    </div>
    <div class="field">
        <label for="username">username</label>
        <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="field">
        <label for="username">senha para confirmar alterações</label>
        <input type="password" name="password" [(ngModel)]="password" />
    </div>
    <div class="field-button">
        <a></a>
        <button type="submit">Editar informações</button>
    </div>
</form>