<header class="header">
    <app-top-bar-master (onSelect)="selectPage = $event" ></app-top-bar-master>
</header>
<section class="section">
    <app-side-bar-master [name]="user.name" [role]="user.role" (onSelect)="selectPage = $event" ></app-side-bar-master>
    <div class="container">
        <div [ngSwitch]="selectPage">
            <app-index-master *ngSwitchDefault></app-index-master>
            <app-user-detail *ngSwitchCase="'user'"></app-user-detail>
            <div *ngSwitchCase="'admin'">ADMIN SETTINGS</div>
        </div>
    </div>
</section>